body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
    min-height: 100vh;
}

h1 {
    color: #00d4ff !important;
    font-weight: bold;
}

.card {

    border-radius: 15px;

}

#contador {

    font-size: 40px;
    font-weight: bold;

}